@import 'header.scss';
@import 'main.scss';
@import 'footer.scss';
%a-text-decoration {
    text-decoration: none;
    color: inherit;
}



* {
    margin: 0;
    padding: 0 ;
  
}
html,body { 
    height: auto;
    overflow-x: hidden;
    
}

a {
    @extend %a-text-decoration;
}